Django~=4.2.20
asgiref==3.8.1
beautifulsoup4==4.13.3
black==25.1.0
click==8.1.8
colorama==0.4.6
coverage==7.8.0
crispy-bootstrap4==2024.10
crispy-bootstrap5==2025.4
Django==4.2.20
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
django-debug-toolbar==5.1.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.1
